replicaCount: 3

image:
  repository: nginx
  tag: broken

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

serviceAccount:
  create: false

ingress:
  enabled: false

httpRoute:
  enabled: false
